*{
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: rgb(249, 254, 255);
}

header{
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    margin:0 auto;
    min-height: 80px;
    min-width: 300px;
    text-align: center;
    background-color: rgba(0, 149, 255, 0.703);
}

#header{
    color: hsl(46.15, .11%, 240%);
    font-family:'Abril Fatface', cursive, sans-serif;

}

h2 {
    font-size: 35px;
    text-align: center;
    margin:0 auto;
    position: relative;
    top: 20px;
}

p{
    position: relative;
    text-align: center;
    top: 40px;
    margin: 0 auto;
    font-size:22px;
    font-weight:300;
    font-style: italic;
}

h3{
    position:relative;
    top: 60px;
    font-size: 25px;
}

table{
    margin: 0 auto;
}

table, th, tr{
    border:1px solid black;
    
}

.name{
    box-sizing: border-box;
    height: 60px;
    width:80px;
    padding:15px;
    font-weight:700;
}

.what{
    box-sizing: border-box;
    height: 60px;
    width: 300px;
    padding:30px;
    font-weight: 300;
}

 #col-headings{
    background-color: rgba(175, 16, 42, .49);
}

#bottom{
    text-align:center;
    font-size: 18px;
    font-family:Helvetica;
    padding: 20px;
}

.example{
    font-weight: 700;
}

footer{
    font-family:'Abril Fatface', cursive, sans-serif;
    font-size:10px;
    text-align:left;
    opacity: 0.45;
}